.container {
    background-color: lightblue;
    width: 70vw;
    height: 70vh;
    margin-left: 15vw;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 1fr;
    text-align: center;
    border: solid black 2px;
    border-radius: 15px;
}

.boardTop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn {
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0 1rem 0 1rem;
}

.gameBoard {
    background-color: black;
    padding: 5% 30% 5% 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.gameSquare {
    background-color: white;
    height: 1fr;
    width: 1fr;
}

.restart {
    background-color: lightgoldenrodyellow;
    display: flex;
    width: 70vw;
    height: 100%;
    border-radius: 0 0 15px 15px;
    align-items: center;
    justify-content: center;
}